<body>
<style>
        body {width: 100%; height: 100vh; background-image: url(bg_home.png); background-size: cover; background-position: center; margin: 0;}
        .full-video {width: 100%; height: 100%;}
    </style>
<div class="full-scren">
    <video class="full-video" autoplay playsinline loop>
        <source src="video.mp4" type="video/mp4">
    </video>
</div>
</body>
