<body>
<style>
        body {width: 100%; height: 100vh; background-image: url(bg_home.png); background-size: cover; background-position: center; margin: 0;}
        .full-video {width: 100%; height: 100%;}

        video::-webkit-media-controls,
        video::-webkit-media-controls-play-button,
        video::-webkit-media-controls-volume-slider,
        video::-webkit-media-controls-mute-button,
        video::-webkit-media-controls-timeline,
        video::-webkit-media-controls-current-time-display,
        progress::-webkit-progress-bar,
        progress::-webkit-progress-value {
            display: none !important;
        }


    </style>
<div class="full-scren">
    <video class="full-video" autoplay playsinline loop>
        <source src="video.mp4" type="video/mp4">
    </video>
</div>
</body>
